body {
  background-color: #f4e9e9;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}
.picture {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;

  width: 40%;
}
.container {
  margin: 60px auto;
  max-width: 600px;
  background: #fff;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-weight: 200;
  font-size: 50px;
  margin-bottom: 0;
}

i {
  color: black;
}
select {
  width: 100%;
  padding: 5px;
}

h2 {
  margin: 0 0 5px;
  font-size: 25px;
  font-weight: 100;
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.city:last-child {
  border: none;
}

.date {
  opacity: 0.9;
  color: #898e92;
}

.time {
  font-size: 45px;
}

.time small {
  font-size: 15px;
  vertical-align: middle;
}

a {
  color: #151414;
  text-decoration: underline #1b1a1a;
}

.link {
  font-size: 15px;
  text-decoration: none;
  color: #fb99a6;
}
footer {
  text-align: center;
  opacity: 0.9;
  font-size: 14px;
  color: #151414;
  font-family: "Poppins", sans-serif;
}
